@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");

body,
html {
  min-height: 100%;
  margin: 0;
  font-family: "Courgette", cursive !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content-wrap {
  flex: 1;
}

.text {
  text-align: center;
  font-weight: 500 !important;
  opacity: 1;
  color: black;
  font-size: 17pt;
  padding: auto;
}
.text2 {
  text-align: center;
  font-weight: 500 !important;
  opacity: 1;
  color: black;
  font-size: 15pt;
  padding: auto;
}
.text3 {
  text-align: left;
  font-weight: 550 !important;
  opacity: 1;
  color: black;
  font-size: 12pt;
  padding: auto;
}

.imgW {
  max-width: 600px !important;
  float: left;
  padding-right: 1.5rem;
}
@media only screen and (max-width: 994px) {
  .imgW {
    max-width: 300px !important;
  }
}
@media only screen and (max-width: 500px) {
  .imgW {
    float: none;
    padding-right: 0;
  }
}

.main-footer {
  text-align: center;
  background-color: #aebdcc;
  color: white;
  position: relative;

  bottom: 0;
}
.homeBG {
  /* The image used */
  background-image: url("./images/ELeaves3.jpg");
  opacity: 0.8;
  background-size: cover;
  background-position: top;

  min-height: 100vh;
  position: relative;
}
.faqBG {
  /* The image used */
  background-image: url("./images/ELeaves5.jpg");
  opacity: 0.8;
  background-size: cover;
  background-position: top;

  min-height: 100vh;
  position: relative;
}
.contactBG {
  /* The image used */
  background-image: url("./images/ELeaves3.jpg");
  opacity: 0.8;
  background-size: cover;
  background-position: top;

  min-height: 100vh;
  position: relative;
}
.servicesBG {
  /* The image used */
  background-image: url("./images/ELeaves5.jpg");
  opacity: 0.8;
  background-size: cover;
  background-position: top;

  min-height: 100vh;
  position: relative;
}
.meetBG {
  /* The image used */
  background-image: url("./images/ELeaves5.jpg");
  opacity: 0.8;
  background-size: cover;
  background-position: top;
  min-height: 100vh;
  position: relative;
}

input {
  width: 600px;
}
textarea {
  height: 10em;
  width: 600px;
}

div[role="alert"] {
  color: red;
  margin-top: 1em;
}
