@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");

body,
html {
  min-height: 100%;
  margin: 0;
  font-family: "Courgette", cursive !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
}
.text {
  font-weight: 500 !important;
  opacity: 1;
  color: black;
  font-size: 17pt;
}
.footer {
  flex-shrink: 0;
  text-align: center;
  background-color: #aebdcc;
  color: white;
  position: absolute;
  left: 0;
  bottom: -100;
  right: 0;
}
.homeBG {
  /* The image used */
  background-image: url("./images/ELeaves3.jpg");
  opacity: 0.8;
  background-size: cover;
  background-position: top;

  height: 100vh;
  position: relative;
}
.faqBG {
  /* The image used */
  background-image: url("./images/ELeaves5.jpg");
  opacity: 0.8;
  background-size: cover;
  background-position: top;

  height: 100vh;
  position: relative;
}
.contactBG {
  /* The image used */
  background-image: url("./images/ELeaves3.jpg");
  opacity: 0.8;
  background-size: cover;
  background-position: top;

  height: 100vh;
  position: relative;
}
.servicesBG {
  /* The image used */
  background-image: url("./images/ELeaves7.jpg");
  opacity: 0.8;
  background-size: cover;
  background-position: top;

  height: 100vh;
  position: relative;
}
.meetBG {
  /* The image used */
  background-image: url("./images/ELeaves6.jpg");
  opacity: 0.8;
  background-size: cover;
  background-position: top;

  height: 100vh;
  position: relative;
}
